name = "Address"
==
<p>
    {% if address.company %}
        {{ address.company }}<br />
    {% endif %}
    {% if address.phone|default(null) %}
        {{ 'webbook.mall::frontend.form.phone'|trans }}: {{ address.phone }}<br />
    {% endif %}
    {% if address.tin|default(null) %}
        {{ 'webbook.mall::frontend.form.tin'|trans }}: {{ address.tin }}<br />
    {% endif %}
    {% if address.vat|default(null) %}
        {{ 'webbook.mall::frontend.form.vat'|trans }}: {{ address.vat }}<br />
    {% endif %}
    {{ address.name }}<br />
    {{ address.lines | nl2br }}<br />
    {{ address.zip }} {{ address.city }}<br />
    {% if address.state_id %}
        {{ address.state.name }}<br />
    {% endif %}
    {{ address.country.name }}<br>
    {{ order.customer.user.email }}
</p>
