subject = "{{ 'webbook.mall::mail.customer.created.subject' | trans({firstname: user.customer.firstname, lastname: user.customer.lastname}) }}"
description = "Sent after a customer signs up"
==

{{ 'webbook.mall::mail.common.hello' | trans({firstname: user.customer.firstname, lastname: user.customer.lastname}) }}

{% if confirm %}
    {{ 'webbook.mall::mail.customer.created.confirm_mail' | trans() }}
{% else %}
    {{ 'webbook.mall::mail.customer.created.message' | trans({email: user.email}) }}
{% endif %}

{{ 'webbook.mall::mail.customer.created.possibilities' | trans() }}

{% partial 'button' url=(confirm ? confirm_url : app_url) type='primary' body %}
    {{ confirm
       ? 'webbook.mall::mail.customer.created.button.confirm' | trans()
       : 'webbook.mall::mail.customer.created.button.visit_store' | trans() }}
{% endpartial %}
