subject = "{{ 'webbook.mall::mail.checkout.failed.subject' | trans({number: order.order_number}) }}"
description = "Sent when a checkout has failed"
==
{{ 'webbook.mall::mail.common.hello' | trans({firstname: order.customer.firstname, lastname: order.customer.lastname}) }}

{{ 'webbook.mall::mail.checkout.failed.problem_message' | trans() }}

{{ 'webbook.mall::mail.checkout.failed.check_order_status' | trans() }}

{% partial 'button' url=account_url type='primary' body %}
    {{ 'webbook.mall::mail.common.view_order_status_online' | trans() }}
{% endpartial %}
